<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" data-bs-theme="light">
<head>
    <meta charset="UTF-8"/>
    <title>Lab 2 | Input is String</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/default.min.css}">
    <link rel="stylesheet" th:href="@{/css/monokai-sublime.css}">
    <script th:src="@{/js/highlight.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</head>
<body class="container vh-100 d-flex align-items-center">
<div id="alerts" class="alerts fixed-top">
    <div th:class="'alert alert-' + ${alert.type}" th:each="alert : ${alerts}">
        <div class="container">
            <p class="mb-0" th:text="${alert.message}"></p>
        </div>
    </div>
</div>
<div class="row justify-content-center w-100">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Login</div>
            <div class="card-body">
                <form th:action="@{/lab2/login}" method="get">
                    <div class="mb-3">
                        <label for="profileId">Profile ID</label>
                        <input type="text" class="form-control" id="profileId" name="profileId" required>
                    </div>
                    <div class="mb-3">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/sqlQueryFragment :: displaySqlQuery(executedQuery=${executedQuery})"></div>

<script>hljs.highlightAll();</script>
<script>
    document.addEventListener('DOMContentLoaded', init());
</script>
</body>
</html>