<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" data-bs-theme="light">
<head>
    <meta charset="UTF-8"/>
    <title>Lab 4 | POST Injection</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/default.min.css}">
    <link rel="stylesheet" th:href="@{/css/monokai-sublime.css}">
    <script th:src="@{/js/highlight.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</head>
<body>
<div class="container">
    <div th:replace="fragments/menuFragment :: menuFragment"></div>
    <div class="card mt-5 mb-5">
        <div class="card-header d-flex justify-content-between">
            <h3 class="mb-0"><span th:class="'badge ' + (${session.lab4Completed} ? 'text-bg-success' : 'text-bg-warning')">Lab 4</span> POST Injection</h3>
            <a class="btn btn-success" th:href="@{/lab4/login}"role="button" target="_blank">Start</a>
        </div>
        <div class="card-body">
            <p>
                When participating in this challenge, the login form is configured to submit data using the HTTP POST method. There are a couple of strategies that can be employed to bypass the JavaScript that validates the login form. One option is to either remove or disable the JavaScript that performs the validation directly in the browser. This can be achieved by using browser developer tools to edit or disable the JavaScript code. Alternatively, you can initially submit a legitimate request that passes the client-side validation and then intercept and modify it using a proxy tool such as Burp Suite.
            </p>

            <p class="text-center">
                <img class="my-3 border col-12 col-sm-10 col-md-8" th:src="@{/images/burpsuite.png}"/>
            </p>


            <p>
                By using Burp Suite, you can intercept and modify HTTP request to test and analyze security mechanisms of web applications.
            </p>
        </div>
        <div class="card-footer">

            <div class="accordion mt-2 mb-3" id="accordionCtf">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCtf" aria-expanded="false" aria-controls="collapseCtf">
                            <span class="badge text-bg-info me-1">CTF</span>Submit
                        </button>
                    </h2>
                    <div id="collapseCtf" class="accordion-collapse collapse" data-bs-parent="#accordionCtf">
                        <div class="accordion-body">
                            <form th:action="@{/lab4/verify-ctf}" method="post">
                                <div class="mb-3">
                                    <label for="toVerify">Flag</label>
                                    <input type="text" class="form-control" id="toVerify" name="toVerify" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Verify</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion mt-2 mb-3" id="accordionHint">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHint" aria-expanded="false" aria-controls="collapseHint">
                            <span class="badge text-bg-success me-1">Hint</span>Instructions
                        </button>
                    </h2>
                    <div id="collapseHint" class="accordion-collapse collapse" data-bs-parent="#accordionHint">
                        <div class="accordion-body">
                            <div class="row mt-3 mb-3">
                                <div class="col">
                                    <p class="fw-bold">Login form</p>
                                    <ol>
                                        <li>Visit the login page</li>
                                        <li>Enter a profile_id value</li>
                                        <li>Enter the correct password for the chosen profile_id</li>
                                        <li>Submit the form</li>
                                    </ol>
                                </div>
                                <div class="col">
                                    <p class="fw-bold">SQL Injetion</p>
                                    <ol>
                                        <li>First, download and install Burp Suite if you haven’t already. Configure your web browser to use Burp Suite as its proxy server. This typically involves setting the browser’s HTTP and HTTPS proxy settings to 127.0.0.1 with the port set to 8080, which is the default port used by Burp Suite. In case some other process is using default port, set it to a different one.</li>
                                        <li>Launch Burp Suite and ensure that the "Intercept is on" feature is active. This can be found in the "Proxy" tab and then the "Intercept" sub-tab. With intercept turned on, Burp Suite will capture the outgoing and incoming HTTP requests and responses in the Burp's browser</li>
                                        <li>Open the Burp's browser and submit the login form with any data you want. Because Burp Suite is set as your proxy, the request will be captured and held in Burp Suite instead of being sent directly to the server.</li>
                                        <li>In Burp Suite, under the "Proxy" tab and the "Intercept" sub-tab, you will see the current intercepter request. Locate the payload of the request and modify it with profileId=' or 1=1-- -</li>
                                        <li>Once you've made the necessary modifications to the request, forward it to the server. You can do this by clicking the "Forward" button in Burp Suite. If additional requests are captured and you want to continue without intercepting, you can click "Forward" to send each one or "Intercept is off" to let all subsequent traffic pass through until you choose to intercept again.</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion mb-2" id="accordionCred">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCred" aria-expanded="false" aria-controls="collapseCred">
                            <span class="badge text-bg-success me-1">Hint</span>Credentials
                        </button>
                    </h2>
                    <div id="collapseCred" class="accordion-collapse collapse" data-bs-parent="#accordionCred">
                        <div class="accordion-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">profile_id</th>
                                    <th scope="col">password</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>123</td>
                                    <td>heslo123</td>
                                </tr>
                                <tr>
                                    <td>456</td>
                                    <td>heslo456</td>
                                </tr>
                                <tr>
                                    <td>789</td>
                                    <td>heslo789</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>hljs.highlightAll();</script>
<script>
    document.addEventListener('DOMContentLoaded', init());
</script>
</body>
</html>