<nav id="side-menu" class="col-12 col-md-auto px-0 px-md-3 pb-3 pb-md-0" th:fragment="menuFragment">
    <ul class="dropdown-menu" style="position: static; display: block;">
        <li><a class="dropdown-item" th:href="@{/}">Introduction</a></li>
        <li><a class="dropdown-item" th:href="@{/lab1}"><span class="badge text-bg-primary">Lab 1</span> Input Not String</a></li>
        <li><a class="dropdown-item" th:href="@{/lab2}"><span class="badge text-bg-primary">Lab 2</span> Input is String</a></li>
        <li><a class="dropdown-item" th:href="@{/lab3}"><span class="badge text-bg-primary">Lab 3</span> URL Injection</a></li>
        <!-- Add more menu items as needed -->
    </ul>
</nav>