
pre {
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

#alerts {
    width: 25%;
    right: 20px;
    top: 20px;
    left: unset;
}