
pre {
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

#alerts {
    width: 25%;
    right: 20px;
    top: 20px;
    left: unset;
}

.nav-item:hover {
    background-color: rgba(0,0,0,0.05);
    border-radius: 5px;
}

.placeholder {
    background-color: #e0e0e0 !important; /* Light grey background */
    border-radius: 4px !important; /* Optional: adds rounded corners */
    height: 20px !important; /* Mimics the height of a text line */
    margin-bottom: 10px !important; /* Spacing between lines */
    width: 100% !important;
    cursor: auto !important;
}
.placeholder-lg {
    height: 30px !important;
    margin-top: 20px;
    margin-bottom: 15px !important;/* Larger rectangle for headings */
}